
.container{
    background-image: url("images/image2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
}
.container img{
float: left;
margin: 0 0;
}
.container h6{
    color: #F19201;
    padding-top: 50px;
    margin-left: 5px;
}
.navbar>nav{
    text-align: center;
    float: right;
    position: relative;
    background: #646362;
    background-size: 50px;
    top: -90px;
    opacity: 0.5;
    width: 50%;
    
}
nav>ul>li{
    display: inline;
}

nav>ul>li>a{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    color: #fff;
    font-weight: bold;
}
nav>ul>#home>a{
    color: #F19201;
}
nav>ul>li>a:hover{
    background: #F19201;

}

/*

#list>ul>#moringa>a{
    background: #F19201;
}
.container.header{
    float: left;
    text-align: center;
    color: white;
}*/
