
.container{
    background-image: url("images/image2.png");
}
.container img{
float: left;
margin: 0 0;
}
.container h6{
    color: #F19201;
    padding-top: 50px;
    margin-left: 5px;
}
#list{
    text-align: center;
    float: right;
    position: relative;
    height: 50px;
    top: -80px;
    right: 5px;
    width: 70%;
    background-color: black;
    opacity: 0.5;
    
}
#list>ul>li{
    display: inline-block;
    margin: 0 0 10px 10px; 
    
}
#list>ul>li>a{
    display: block;
    text-decoration: none;
    color: #fff;
}
#list>ul>#home>a{
    color: #F19201;
}
#list>ul>#moringa>a{
    background: #F19201;
}
.container.header{
    float: left;
    text-align: center;
    color: white;
}
